@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/* @grain: #D7cec7;
@blackboard: #565656;
@oxblood: #76323F;
@tan: #C09f80; */

body {
    background-color: #efefef;
}
.App {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}
h1 {
    font-family: "Caveat", cursive;
}
pre {
    margin-top: 20px;
    margin-left: 10px;
}
a {
    color: #76323f;
}
span:hover {
    cursor: pointer;
}
.error {
    color: #76323f;
}
.App .top.menu {
    max-height: 20px;
}
.App .menu h1 {
    font-size: 1.8rem;
}
.App .menu h1 span {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

/*
    Forms
*/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
.form-wrapper .ui.tiny.message {
    width: 100%;
}
.form-wrapper h1 {
    margin-top: 5px;
    color: #76323f;
}
.form-wrapper form {
    width: 380px;
}
.form-wrapper button {
    width: 100%;
}
.form-wrapper a {
    text-align: left;
    margin-top: 10px;
}
.form-wrapper .signUp-text {
    margin-top: 20px;
}

/*
    Content
*/
.dashboard {
    margin-top: 50px;
}
.branding h1 {
    margin: 0;
    color: #76323f;
}
.categories {
    padding: 0;
    list-style-type: none;
}
.categories li:nth-child(1) {
    margin-bottom: 20px;
}
.categories li i {
    color: #76323f;
}
.dashboard .articles-form {
    flex-direction: column;
}
.dashboard .form-heading {
    margin-top: 20px;
}
.App .dashboard .message {
    margin-left: 1rem;
    margin-top: 11px;
}
.App .article {
    margin-bottom: 15px !important;
}
.article .card {
    background: #c09f80;
}
.article .card .content .header {
    color: white;
}
.article .card .meta {
    color: #76323f;
    font-style: italic;
}
.article .card .content .description {
    color: #76323f;
}
.card-buttons {
    padding: 5px 10px 10px;
    text-align: right;
}
