@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

body {
    background-color: #efefef;
}

.App {
    font-family: "Montserrat", sans-serif;
}

/*
    Login
*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.login h1 {
    font-family: "Caveat", cursive;
    margin-top: 5px;
}

.login form {
    width: 320px;
}

.login button {
    width: 100%;
}

.login a {
    text-align: left;
    margin-top: 10px;
}
