@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/*
    colors
    grain: #D7cec7
    blackboard: #565656
    oxblood: #76323F
    tan: #C09f80
*/

body {
    background-color: #efefef;
}

.App {
    font-family: "Montserrat", sans-serif;
}

/*
    Forms
*/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.form-wrapper h1 {
    font-family: "Caveat", cursive;
    margin-top: 5px;
}

.form-wrapper form {
    width: 380px;
}

.form-wrapper button {
    width: 100%;
}

.form-wrapper a {
    text-align: left;
    margin-top: 10px;
}

.form-wrapper .signUp-text {
    margin-top: 20px;
}
